/* Estilos Gerais */
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

p {
    font-size: 14px;
    line-height: 20px;
}

a {
    color: inherit;
}

a:hover {
    color: #FFC107;
    text-decoration: none;
}

li {
    list-style: none;
}
/* Fim Estilos Gerais */

/* Header */
header {
    background-color: #121212;
    margin-bottom: 15px;
}

.navbar {
    padding: 0px;
}

.navbar-brand img {
    max-width: 100px;
    max-height: 100px;
}
/* Fim Header */

/* Main */
.main .card {
    border: none;
}

.no-gutters {
    margin-bottom: 15px;
}

.card-body {
    padding: 0px;
    padding-left: 15px;
}

.card-title {
    margin: 0px;
    font-weight: bold;
}

.card-header {
    border-radius: 0px !important;
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFC107;
    background-color: #121212;
}

.list-group .btn {
    border-radius: 0px;
    text-transform: uppercase;
}

.list-group .btn:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
/* Fim Main */

/* Footer */
footer {
    padding: 15px;
    background-color: #121212;
    color: #FFFFFF;
}

.footer h3 {
    color: #FFC107;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #FFC107;
    margin: 6px 0 12px 0;
    border-radius: 15px;
}

.footer_copy {
    text-align: center;
    padding-top: 20px;
}
/* Fim Footer */